@font-face {
  font-family: 'Chewy';
  font-style: normal;
  font-weight: normal;
  src: local('Chewy'), url('http://themes.googleusercontent.com/font?kit=9pHJyFOcO5WaMZJw9XnkAw') format('truetype');
}
